<div class="main">
  <div class="layer">
    <div class="container">
      <h1>Check a Porker Hand</h1>
      <div class="checkarea">
        <%= form_tag("/check") do %>
          <div class="form">
            <ul>
              <li>
                <input class="text" name="hand">
              </li>
              <li>
                <input class="btn"  type="submit" value="Check">
              </li>
            </ul>
          </div>
          <div class="result">
            <p>

            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
