<div class="main">
  <img class="bg" src="/top.png">
    <div class="container">
      <p>Check a Porker Hand</p>
      <div class="checkarea">
        <%= form_tag("/check") do %>
          <div class="form">
            <ul>
              <li>
                <textarea name="hands"></textarea>
              </li>
              <li>
                <input type="submit" value="Check">
              </li>
            </ul>
          </div>
          <div class="result">
          </div>
        <% end %>
      </div>
    </div>
</div>
