<div class="top-main">
    <div class="bg">
    </div>
      <h1>Check a Porker Hand</h1>

    <div class="container">
      <form>
        <ul>
          <li>
            <textarea name="name"></textarea>
          </li>
          <li>
            <input type="submit" value="Check">
          </li>
        <ul>
      </form>
    </div>
</div>
